body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.mynav{
  width:25%;
  margin-top: 3.5%;
  overflow-y:auto;
  position:fixed;
  height: 100%;
 
 
 
  background-color:grey ;
  color: white;



}
.mynav1{
  width:25%;
 
  overflow-y:auto;
  position:fixed;
  height: 100%;
  display: flexbox;
  margin-top:3.5%;
 
 
  background-color:white ;
  color: white;



}

/* li
{
  margin:2%;
  size:auto;
  border: 1px solid whitesmoke;
  padding: 7%;
  text-align: center;
  text-decoration: none;
  background-color: #F720A1 ;
  color: white;
 
  box-shadow: 5px 5px 5px teal,
  -3px, -3px, -3px white;


}*/
ul
{
  justify-content: center;
  text-align: center;
 
  display:flexbox;
  
 
 /* width:max-content;
  margin-top: 8%;
  height: 90%;
*/  
  
  
 
}/*
.mynav.ul.li.Link
{
  color: aliceblue;
}

li :hover
{
  background-color: #F720A1 ;
}
 */
label{
  color: white;
}

.UpperBar
{
  position: sticky;
  box-shadow: 6px 6px 6px grey;
  padding: 0.4%;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color:blanchedalmond;
  background-size: cover;
  display: flex;
  flex:auto;
  color: brown;
  
}


.navitem{
  background-color: #F720A1 ;
  padding: 5%;
  margin-left: 5%;
  margin-right: 6%;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  color: white;
  box-shadow: 6px 10px 10px gray;
  margin-top: 5%;

}

.navitem:hover{
 /*  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%; */
  /* border-bottom-right-radius: 35%; */
  /* border-top-right-radius: 50%;
  border-right-style: 1px groove #F720A1; */
  background-color: white ;
  padding: 5%;
  margin: 5%;
  display: flexbox;
  border: 1px solid #F720A1 ;
  color: #F720A1;
  box-shadow: 6px 10px 10px #F720A1 ;
  
  
}
.navitem:active{
  
  background-color: white ;
  padding: 5%;
  margin: 5%;
  display: flexbox;
  border: 1px solid #F720A1 ;
  color: #F720A1;
  box-shadow: 7px 6px 6px #F720A1;
  
  
}
li
{
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 7%;
}

.f1{

  width: 50%;
  display: flex;
  box-shadow: 3px 6px 15px orange;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10%;

}